BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "serial_tx" SITE "B9";
IOBUF PORT "serial_tx" IO_TYPE=LVCMOS33;
LOCATE COMP "serial_rx" SITE "A9";
IOBUF PORT "serial_rx" IO_TYPE=LVCMOS33;
LOCATE COMP "clk25" SITE "P6";
IOBUF PORT "clk25" IO_TYPE=LVCMOS33;

LOCATE COMP "cpu_reset_n" SITE "L14";
IOBUF PORT "cpu_reset_n" IO_TYPE=LVCMOS33;
IOBUF PORT "cpu_reset_n" PULLMODE=UP;
LOCATE COMP "sdram_clock" SITE "R15";
IOBUF PORT "sdram_clock" IO_TYPE=LVCMOS33;
LOCATE COMP "led[0]" SITE "B11";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "led[1]" SITE "A11";
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "led[2]" SITE "A12";
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "spiflash_cs_n" SITE "N8";
IOBUF PORT "spiflash_cs_n" IO_TYPE=LVCMOS33;
LOCATE COMP "spiflash_mosi" SITE "T8";
IOBUF PORT "spiflash_mosi" IO_TYPE=LVCMOS33;
LOCATE COMP "spiflash_miso" SITE "T7";
IOBUF PORT "spiflash_miso" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[0]" SITE "H15";
IOBUF PORT "sdram_a[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[0]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[1]" SITE "B13";
IOBUF PORT "sdram_a[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[1]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[2]" SITE "B12";
IOBUF PORT "sdram_a[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[2]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[3]" SITE "J16";
IOBUF PORT "sdram_a[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[3]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[4]" SITE "J15";
IOBUF PORT "sdram_a[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[4]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[5]" SITE "R12";
IOBUF PORT "sdram_a[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[5]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[6]" SITE "K16";
IOBUF PORT "sdram_a[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[6]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[7]" SITE "R13";
IOBUF PORT "sdram_a[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[7]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[8]" SITE "T13";
IOBUF PORT "sdram_a[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[8]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[9]" SITE "K15";
IOBUF PORT "sdram_a[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[9]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[10]" SITE "A13";
IOBUF PORT "sdram_a[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[10]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[11]" SITE "R14";
IOBUF PORT "sdram_a[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[11]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[12]" SITE "T14";
IOBUF PORT "sdram_a[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[12]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[0]" SITE "F16";
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[0]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[1]" SITE "E15";
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[1]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[2]" SITE "F15";
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[2]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[3]" SITE "D14";
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[3]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[4]" SITE "E16";
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[4]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[5]" SITE "C15";
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[5]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[6]" SITE "D16";
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[6]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[7]" SITE "B15";
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[7]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[8]" SITE "R16";
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[8]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[9]" SITE "P16";
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[9]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[10]" SITE "P15";
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[10]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[11]" SITE "N16";
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[11]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[12]" SITE "N14";
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[12]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[13]" SITE "M16";
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[13]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[14]" SITE "M15";
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[14]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[15]" SITE "L15";
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[15]" SLEWRATE=FAST;
LOCATE COMP "sdram_we_n" SITE "A15";
IOBUF PORT "sdram_we_n" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_we_n" SLEWRATE=FAST;
LOCATE COMP "sdram_ras_n" SITE "B16";
IOBUF PORT "sdram_ras_n" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_ras_n" SLEWRATE=FAST;
LOCATE COMP "sdram_cas_n" SITE "G16";
IOBUF PORT "sdram_cas_n" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_cas_n" SLEWRATE=FAST;
LOCATE COMP "sdram_cs_n" SITE "A14";
IOBUF PORT "sdram_cs_n" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_cs_n" SLEWRATE=FAST;
LOCATE COMP "sdram_cke" SITE "L16";
IOBUF PORT "sdram_cke" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_cke" SLEWRATE=FAST;
LOCATE COMP "sdram_ba[0]" SITE "G15";
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_ba[0]" SLEWRATE=FAST;
LOCATE COMP "sdram_ba[1]" SITE "B14";
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_ba[1]" SLEWRATE=FAST;
LOCATE COMP "sdram_dm[0]" SITE "C16";
IOBUF PORT "sdram_dm[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dm[0]" SLEWRATE=FAST;
LOCATE COMP "sdram_dm[1]" SITE "T15";
IOBUF PORT "sdram_dm[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dm[1]" SLEWRATE=FAST;

#iCESugar-pro HDMI
LOCATE COMP "gpdi_dp[0]" SITE "G1"; # Blue +
LOCATE COMP "gpdi_dn[0]" SITE "F1"; # Blue -
LOCATE COMP "gpdi_dp[1]" SITE "J1"; # Green +
LOCATE COMP "gpdi_dn[1]" SITE "H2"; # Green -
LOCATE COMP "gpdi_dp[2]" SITE "L1"; # Red +
LOCATE COMP "gpdi_dn[2]" SITE "K2"; # Red -
LOCATE COMP "gpdi_dp[3]" SITE "E2"; # Clock +
LOCATE COMP "gpdi_dn[3]" SITE "D3"; # Clock -

IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "sd_clk" SITE "J12";
IOBUF PORT "sd_clk" SLEWRATE=FAST;
IOBUF PORT "sd_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "sd_cmd_mosi" SITE "H12";
IOBUF PORT "sd_cmd_mosi" SLEWRATE=FAST;
IOBUF PORT "sd_cmd_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_cmd_mosi" PULLMODE=UP;
LOCATE COMP "sd_d3_cs" SITE "G12";
IOBUF PORT "sd_d3_cs" SLEWRATE=FAST;
IOBUF PORT "sd_d3_cs" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_d3_cs" PULLMODE=UP;
LOCATE COMP "sd_d0_miso" SITE "K12";
IOBUF PORT "sd_d0_miso" SLEWRATE=FAST;
IOBUF PORT "sd_d0_miso" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_d0_miso" PULLMODE=UP;

LOCATE COMP "io_jtag_tms" SITE "H5";
IOBUF PORT "io_jtag_tms" SLEWRATE=FAST;
IOBUF PORT "io_jtag_tms" IO_TYPE=LVCMOS33;
IOBUF PORT "io_jtag_tms" PULLMODE=UP;
LOCATE COMP "io_jtag_tdi" SITE "N4";
IOBUF PORT "io_jtag_tdi" SLEWRATE=FAST;
IOBUF PORT "io_jtag_tdi" IO_TYPE=LVCMOS33;
IOBUF PORT "io_jtag_tdi" PULLMODE=UP;
LOCATE COMP "io_jtag_tdo" SITE "J5";
IOBUF PORT "io_jtag_tdo" SLEWRATE=FAST;
IOBUF PORT "io_jtag_tdo" IO_TYPE=LVCMOS33;
IOBUF PORT "io_jtag_tdo" PULLMODE=UP;
LOCATE COMP "io_jtag_tck" SITE "F5";
IOBUF PORT "io_jtag_tck" SLEWRATE=FAST;
IOBUF PORT "io_jtag_tck" IO_TYPE=LVCMOS33;
IOBUF PORT "io_jtag_tck" PULLMODE=UP;

LOCATE COMP "LCD_VSYNC" SITE "M1";
IOBUF PORT "LCD_VSYNC" SLEWRATE=FAST;
IOBUF PORT "LCD_VSYNC" IO_TYPE=LVCMOS33;

LOCATE COMP "LCD_HSYNC" SITE "N1";
IOBUF PORT "LCD_HSYNC" SLEWRATE=FAST;
IOBUF PORT "LCD_HSYNC" IO_TYPE=LVCMOS33;

LOCATE COMP "LCD_DEN" SITE "K1";
IOBUF PORT "LCD_DEN" SLEWRATE=FAST;
IOBUF PORT "LCD_DEN" IO_TYPE=LVCMOS33;

LOCATE COMP "LCD_CLK" SITE "P1";
IOBUF PORT "LCD_CLK" SLEWRATE=FAST;
IOBUF PORT "LCD_CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "LCD_R[0]" SITE "T6";
IOBUF PORT  "LCD_R[0]" SLEWRATE=FAST;
IOBUF PORT  "LCD_R[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_R[1]" SITE "R5";
IOBUF PORT  "LCD_R[1]" SLEWRATE=FAST;
IOBUF PORT  "LCD_R[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_R[2]" SITE "R4";
IOBUF PORT  "LCD_R[2]" SLEWRATE=FAST;
IOBUF PORT  "LCD_R[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_R[3]" SITE "R3";
IOBUF PORT  "LCD_R[3]" SLEWRATE=FAST;
IOBUF PORT  "LCD_R[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_R[4]" SITE "R2";
IOBUF PORT  "LCD_R[4]" SLEWRATE=FAST;
IOBUF PORT  "LCD_R[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "LCD_G[0]" SITE "P7";
IOBUF PORT  "LCD_G[0]" SLEWRATE=FAST;
IOBUF PORT  "LCD_G[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_G[1]" SITE "R6";
IOBUF PORT  "LCD_G[1]" SLEWRATE=FAST;
IOBUF PORT  "LCD_G[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_G[2]" SITE "T4";
IOBUF PORT  "LCD_G[2]" SLEWRATE=FAST;
IOBUF PORT  "LCD_G[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_G[3]" SITE "T3";
IOBUF PORT  "LCD_G[3]" SLEWRATE=FAST;
IOBUF PORT  "LCD_G[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_G[4]" SITE "T2";
IOBUF PORT  "LCD_G[4]" SLEWRATE=FAST;
IOBUF PORT  "LCD_G[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_G[5]" SITE "R1";
IOBUF PORT  "LCD_G[5]" SLEWRATE=FAST;
IOBUF PORT  "LCD_G[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "LCD_B[0]" SITE "P2";
IOBUF PORT  "LCD_B[0]" SLEWRATE=FAST;
IOBUF PORT  "LCD_B[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_B[1]" SITE "N3";
IOBUF PORT  "LCD_B[1]" SLEWRATE=FAST;
IOBUF PORT  "LCD_B[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_B[2]" SITE "M2";
IOBUF PORT  "LCD_B[2]" SLEWRATE=FAST;
IOBUF PORT  "LCD_B[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_B[3]" SITE "L2";
IOBUF PORT  "LCD_B[3]" SLEWRATE=FAST;
IOBUF PORT  "LCD_B[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_B[4]" SITE "G2";
IOBUF PORT  "LCD_B[4]" SLEWRATE=FAST;
IOBUF PORT  "LCD_B[4]" IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk25" 25.0 MHz;